n8n/workflows/goofish-inbound.example.json
{
  "name": "goofish-inbound.example",
  "active": false,
  "settings": {},
  "nodes": [
    {
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        280
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "goofish-inbound",
        "responseMode": "lastNode"
      }
    },
    {
      "id": "BridgeDecide",
      "name": "goofish-bridge /autoreply/decide",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -560,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "http://goofish-bridge:8787/autoreply/decide",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Bridge-Token",
              "value": "={{$env.BRIDGE_AUTH_TOKEN || ''}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{$json}}"
      },
      "continueOnFail": true
    },
    {
      "id": "SendIf",
      "name": "IF 应发送",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -340,
        280
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ [true, 'true', 1, '1'].includes($json.send) && ![true, 'true', 1, '1'].includes($json.dry_run) }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "NotSendEnd",
      "name": "不发送结束",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        120
      ],
      "parameters": {
        "jsCode": "return [{ json: { ...$json, ok: $json.ok !== false, send: false } }];"
      }
    },
    {
      "id": "BridgeSend",
      "name": "goofish-bridge /send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -120,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "http://goofish-bridge:8787/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Bridge-Token",
              "value": "={{$env.BRIDGE_AUTH_TOKEN || ''}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { \"cid\": $json.cid, \"toid\": $json.send_user_id, \"text\": $json.final_reply } }}"
      },
      "continueOnFail": true
    },
    {
      "id": "SendResult",
      "name": "发送结果收口",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        360
      ],
      "parameters": {
        "jsCode": "const payload = $json || {};\nif (payload.ok === true && payload.sent === true) {\n  return [{ json: { ...payload, send: true, reason: String(payload.reason || 'sent') } }];\n}\nreturn [{\n  json: {\n    ok: false,\n    send: false,\n    reason: String(payload.reason || payload.error?.message || payload.error || 'send_failed'),\n    cid: String(payload.cid || ''),\n    send_user_id: String(payload.toid || payload.send_user_id || ''),\n    exit_code: payload.exit_code ?? -1,\n    stdout: String(payload.stdout || ''),\n    stderr: String(payload.stderr || payload.error?.message || payload.error || ''),\n  },\n}];"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "goofish-bridge /autoreply/decide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "goofish-bridge /autoreply/decide": {
      "main": [
        [
          {
            "node": "IF 应发送",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 应发送": {
      "main": [
        [
          {
            "node": "不发送结束",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "goofish-bridge /send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "goofish-bridge /send": {
      "main": [
        [
          {
            "node": "发送结果收口",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
