n8n/workflows/goofish-inbound.example.json
{
  "name": "goofish-inbound.example",
  "active": false,
  "settings": {},
  "nodes": [
    {
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1320,
        280
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "goofish-inbound",
        "responseMode": "lastNode"
      }
    },
    {
      "id": "Dedup",
      "name": "去重",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1100,
        280
      ],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst MAX_DEDUP_KEYS = 500;\n\nconst getDedupStore = () => {\n  if (!staticData.dedupStore || typeof staticData.dedupStore !== 'object') {\n    staticData.dedupStore = { order: [], map: {} };\n  }\n  const dedupStore = staticData.dedupStore;\n  if (!Array.isArray(dedupStore.order)) dedupStore.order = [];\n  if (!dedupStore.map || typeof dedupStore.map !== 'object') dedupStore.map = {};\n  return dedupStore;\n};\n\nreturn items.map((item) => {\n  const cid = String(item.json.cid ?? '').trim();\n  const sendUserId = String(item.json.send_user_id ?? '').trim();\n  const sendMessage = String(item.json.send_message ?? '').trim();\n  const dedupKey = `${cid}::${sendUserId}::${sendMessage}`;\n  const isDryRun = [true, 'true', 1, '1'].includes(item.json.dry_run);\n\n  if (isDryRun) {\n    return {\n      json: {\n        ...item.json,\n        dry_run: true,\n        dedup_key: dedupKey,\n        is_duplicate: false,\n        dedup_skipped: true,\n        dedup_skip_reason: 'dry_run',\n      },\n    };\n  }\n\n  const dedupStore = getDedupStore();\n  const isDuplicate = Boolean(dedupStore.map[dedupKey]);\n\n  if (!isDuplicate) {\n    dedupStore.map[dedupKey] = Date.now();\n    dedupStore.order.push(dedupKey);\n\n    while (dedupStore.order.length > MAX_DEDUP_KEYS) {\n      const oldest = dedupStore.order.shift();\n      if (oldest) delete dedupStore.map[oldest];\n    }\n  }\n\n  if (isDuplicate) {\n    return {\n      json: {\n        ...item.json,\n        dedup_key: dedupKey,\n        is_duplicate: true,\n        ok: true,\n        send: false,\n        reason: 'duplicate_message',\n        message: 'duplicate message skipped',\n        cid,\n        send_user_id: sendUserId,\n      },\n    };\n  }\n\n  return {\n    json: {\n      ...item.json,\n      dedup_key: dedupKey,\n      is_duplicate: false,\n    },\n  };\n});"
      }
    },
    {
      "id": "DedupRoute",
      "name": "IF 重复消息",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -980,
        280
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.is_duplicate}}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "DuplicateEnd",
      "name": "重复消息结束",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -780,
        120
      ],
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: true,\n    send: false,\n    reason: 'duplicate_message',\n    message: 'duplicate message skipped',\n    cid: $json.cid ?? '',\n    send_user_id: $json.send_user_id ?? '',\n  },\n}];"
      }
    },
    {
      "id": "SwitchCheck",
      "name": "保留原始入站消息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        280
      ],
      "parameters": {
        "jsCode": "return items.map((item) => ({\n  json: {\n    ...item.json,\n    original: item.json,\n  },\n}));"
      }
    },
    {
      "id": "AutoReplyStatusRequest",
      "name": "goofish-bridge /autoreply/status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -700,
        280
      ],
      "parameters": {
        "method": "GET",
        "url": "http://goofish-bridge:8787/autoreply/status"
      }
    },
    {
      "id": "AutoReplyEnabledIf",
      "name": "IF 自动客服已开启",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -520,
        280
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.state.enabled}}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "RestoreOriginalInbound",
      "name": "恢复原始入站消息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        420
      ],
      "parameters": {
        "jsCode": "const saved = $(\"保留原始入站消息\").item.json;\nconst original = saved.original ?? saved;\nreturn [{ json: { ...original } }];"
      }
    },
    {
      "id": "AutoReplyDisabledEnd",
      "name": "自动客服关闭结束",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        120
      ],
      "parameters": {
        "jsCode": "return [{ json: { ok: true, send: false, reason: \"autoreply_disabled\", message: \"autoreply is disabled\" } }];"
      }
    },
    {
      "id": "CooldownCheck",
      "name": "会话冷却",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -660,
        280
      ],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst now = Date.now();\n\nconst getCooldownStore = () => {\n  if (!staticData.cooldownStore || typeof staticData.cooldownStore !== 'object') {\n    staticData.cooldownStore = {};\n  }\n  return staticData.cooldownStore;\n};\n\nreturn items.map((item) => {\n  const cid = String(item.json.cid ?? '').trim();\n  const cooldownRaw = Number(item.json.cooldown_seconds);\n  const cooldownSeconds = Number.isFinite(cooldownRaw) && cooldownRaw > 0 ? Math.floor(cooldownRaw) : 15;\n  const isDryRun = [true, 'true', 1, '1'].includes(item.json.dry_run);\n\n  if (isDryRun) {\n    return {\n      json: {\n        ...item.json,\n        dry_run: true,\n        cooldown_active: false,\n        cooldown_skipped: true,\n        cooldown_skip_reason: 'dry_run',\n        cooldown_seconds: cooldownSeconds,\n      },\n    };\n  }\n\n  const cooldownStore = getCooldownStore();\n  const lastAllowedAt = Number(cooldownStore[cid] ?? 0);\n  const elapsedSeconds = (now - lastAllowedAt) / 1000;\n\n  if (cid && lastAllowedAt > 0 && elapsedSeconds < cooldownSeconds) {\n    const remainingSeconds = Math.max(1, Math.ceil(cooldownSeconds - elapsedSeconds));\n    return {\n      json: {\n        ...item.json,\n        cooldown_active: true,\n        ok: true,\n        send: false,\n        reason: 'cooldown_active',\n        message: 'conversation cooldown active',\n        cid,\n        cooldown_seconds: cooldownSeconds,\n        remaining_seconds: remainingSeconds,\n      },\n    };\n  }\n\n  if (cid) {\n    cooldownStore[cid] = now;\n  }\n\n  return {\n    json: {\n      ...item.json,\n      cooldown_active: false,\n      cooldown_seconds: cooldownSeconds,\n    },\n  };\n});"
      }
    },
    {
      "id": "CooldownRoute",
      "name": "IF 会话冷却中",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -540,
        280
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.cooldown_active}}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "CooldownEnd",
      "name": "会话冷却结束",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        440
      ],
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: true,\n    send: false,\n    reason: 'cooldown_active',\n    message: 'conversation cooldown active',\n    cid: $json.cid ?? '',\n    cooldown_seconds: Number($json.cooldown_seconds ?? 15),\n    remaining_seconds: Number($json.remaining_seconds ?? 0),\n  },\n}];"
      }
    },
    {
      "id": "ClassifyRisk",
      "name": "风险分类",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -440,
        280
      ],
      "parameters": {
        "jsCode": "// 可直接复用 n8n/snippets/classifyRisk.js\nconst text = String($json.send_message || '');\nconst high = ['退款','投诉','售后','举报','假货','骗子','微信','QQ','支付宝','银行卡','线下','转账','私聊','加我'];\nconst low = ['还在吗','在吗','包邮吗','今天能发吗','能便宜吗','最低多少','小刀'];\nlet risk = 'medium';\nlet reason = 'default_medium';\nconst highHit = high.find((k) => text.includes(k));\nif (highHit) { risk = 'high'; reason = `hit_high_keyword:${highHit}`; }\nelse {\n  const lowHit = low.find((k) => text.includes(k));\n  if (lowHit) { risk = 'low'; reason = `hit_low_keyword:${lowHit}`; }\n}\nreturn [{ json: { ...$json, risk, risk_reason: reason } }];"
      }
    },
    {
      "id": "RiskRoute",
      "name": "IF 高风险",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -220,
        280
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.risk}}",
              "operation": "equal",
              "value2": "high"
            }
          ]
        }
      }
    },
    {
      "id": "HighRiskStop",
      "name": "高风险转人工",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        160
      ],
      "parameters": {
        "jsCode": "return [{ json: { ...$json, send: false, handoff: true, reason: 'high_risk' } }];"
      }
    },
    {
      "id": "LowRiskReply",
      "name": "低风险规则回复",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        360
      ],
      "parameters": {
        "jsCode": "// 可直接复用 n8n/snippets/lowRiskReplies.js\nconst text = String($json.send_message || '').trim();\nlet rule_reply = '';\nif (/还在吗|在吗/.test(text)) rule_reply = '在的，喜欢可拍';\nelse if (/包邮吗/.test(text)) rule_reply = '默认不包，合适可以小刀';\nelse if (/今天能发吗/.test(text)) rule_reply = '今天拍下可以尽快发';\nelse if (/能便宜吗|小刀/.test(text)) rule_reply = '可以小刀，你出个合适价';\nelse if (/最低多少/.test(text)) rule_reply = '价格比较实，合适可拍';\nreturn [{ json: { ...$json, rule_reply } }];"
      }
    },
    {
      "id": "KeepItemContextPayload",
      "name": "保留商品上下文请求原始 payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        360
      ],
      "parameters": {
        "jsCode": "return items.map((item) => ({\n  json: {\n    ...item.json,\n    item_context_original: JSON.parse(JSON.stringify(item.json || {})),\n  },\n}));"
      }
    },
    {
      "id": "ItemsSnapshotRequest",
      "name": "goofish-bridge /items/snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        240,
        360
      ],
      "parameters": {
        "method": "GET",
        "url": "http://goofish-bridge:8787/items/snapshot"
      }
    },
    {
      "id": "MergeItemContext",
      "name": "合并商品上下文",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        360
      ],
      "parameters": {
        "jsCode": "const sourceItems = $(\"保留商品上下文请求原始 payload\").all();\n\nreturn items.map((item, index) => {\n  const snapshot = item.json || {};\n  const sourceWrapper = (sourceItems[index] && sourceItems[index].json) || {};\n  const original = sourceWrapper.item_context_original || sourceWrapper || {};\n\n  let item_context = null;\n  let item_context_status = 'missing';\n  let item_context_reason = String(snapshot.reason || 'snapshot_unavailable');\n\n  if (snapshot.ok === true) {\n    item_context = {\n      available: true,\n      source: 'items_snapshot',\n      item_count: Number(snapshot.item_count ?? 0),\n      items: Array.isArray(snapshot.items) ? snapshot.items : [],\n      section_counts: snapshot.section_counts || {},\n      metadata: snapshot.metadata || {},\n    };\n    item_context_status = 'available';\n    item_context_reason = '';\n  }\n\n  return {\n    json: {\n      ...original,\n      cid: original.cid,\n      send_user_id: original.send_user_id,\n      send_message: original.send_message,\n      content_type: original.content_type,\n      dry_run: original.dry_run,\n      risk: original.risk,\n      risk_reason: original.risk_reason,\n      rule_reply: original.rule_reply,\n      cooldown_seconds: original.cooldown_seconds,\n      max_reply_chars: original.max_reply_chars,\n      item_context,\n      item_context_status,\n      item_context_reason,\n    },\n  };\n});"
      }
    },
    {
      "id": "OpenClawContext",
      "name": "保留 OpenClaw 请求上下文",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        360
      ],
      "parameters": {
        "jsCode": "return items.map((item) => ({\n  json: {\n    ...item.json,\n    openclaw_context: JSON.parse(JSON.stringify(item.json || {})),\n  },\n}));"
      }
    },
    {
      "id": "OpenClawRequest",
      "name": "OpenClaw HTTP 请求",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        260,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.OPENCLAW_REPLY_URL || 'http://openclaw:18789/reply'}}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"cid\": $json.cid, \"toid\": $json.send_user_id, \"message\": $json.send_message, \"risk\": $json.risk, \"rule_reply\": $json.rule_reply, \"item_context\": $json.item_context, \"item_context_status\": $json.item_context_status, \"item_context_reason\": $json.item_context_reason}"
      }
    },
    {
      "id": "NormalizeOpenClawReply",
      "name": "归一化 OpenClaw 回复",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        360
      ],
      "parameters": {
        "jsCode": "const contextItems = $(\"保留 OpenClaw 请求上下文\").all();\n\nconst pickText = (value) => {\n  if (typeof value === 'string' && value.trim()) return value.trim();\n  return '';\n};\n\nreturn items.map((item, index) => {\n  const response = item.json || {};\n  const contextWrapper = (contextItems[index] && contextItems[index].json) || {};\n  const context = contextWrapper.openclaw_context || contextWrapper || {};\n\n  const candidates = [\n    ['reply', response.reply],\n    ['text', response.text],\n    ['message', response.message],\n    ['content', response.content],\n    ['data.reply', response.data?.reply],\n    ['data.text', response.data?.text],\n    ['data.message', response.data?.message],\n    ['data.content', response.data?.content],\n    ['choices[0].message.content', response.choices?.[0]?.message?.content],\n    ['choices[0].text', response.choices?.[0]?.text],\n  ];\n\n  let openclawReply = '';\n  let source = 'rule_reply_fallback';\n  for (const [name, value] of candidates) {\n    const text = pickText(value);\n    if (text) {\n      openclawReply = text;\n      source = name;\n      break;\n    }\n  }\n\n  const fallbackRuleReply = pickText(context.rule_reply);\n  const reply = openclawReply || fallbackRuleReply;\n\n  return {\n    json: {\n      ...context,\n      cid: context.cid,\n      send_user_id: context.send_user_id,\n      send_message: context.send_message,\n      risk: context.risk,\n      risk_reason: context.risk_reason,\n      rule_reply: context.rule_reply,\n      cooldown_seconds: context.cooldown_seconds,\n      max_reply_chars: context.max_reply_chars,\n      reply,\n      openclaw_reply: openclawReply,\n      openclaw_response: response,\n      openclaw_reply_source: source,\n    },\n  };\n});"
      }
    },
    {
      "id": "SanitizeReply",
      "name": "sanitizeReply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        360
      ],
      "parameters": {
        "jsCode": "// 可直接复用 n8n/snippets/sanitizeReply.js\nconst maxReplyChars = Number($json.max_reply_chars || 80);\nconst blocked = /(微信|QQ|支付宝|银行卡|线下|转账|私聊|加我)/i;\nlet text = String($json.reply || $json.rule_reply || '').replace(/<think>[\\s\\S]*?<\\/think>/gi, ' ');\ntext = text.replace(/```(?:thinking|reasoning|analysis)[\\s\\S]*?```/gi, ' ');\nconst markers = ['最终回复：','最终回复:','买家可见回复：','买家可见回复:','回复：','回复:'];\nfor (const marker of markers) {\n  const idx = text.lastIndexOf(marker);\n  if (idx >= 0) text = text.slice(idx + marker.length);\n}\ntext = text.split(/\\r?\\n/)\n  .map((line) => line.replace(/^\\s*(?:[-*+]|#{1,6}|>|\\d+[.)])\\s*/, '').trim())\n  .filter((line) => line && !/^(思考|分析|推理|判断|策略|步骤|理由|reasoning|analysis)/i.test(line))\n  .join(' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\nif (blocked.test(text)) text = '平台内沟通就行，合适可拍';\ntext = text.slice(0, maxReplyChars);\nreturn [{ json: { ...$json, sanitized_reply: text } }];"
      }
    },
    {
      "id": "ExternalScan",
      "name": "外联词扫描",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        360
      ],
      "parameters": {
        "jsCode": "let final_reply = String($json.sanitized_reply || '').trim();\nif (/(微信|QQ|支付宝|银行卡|线下|转账|私聊|加我)/i.test(final_reply)) {\n  final_reply = '平台内沟通就行，合适可拍';\n}\nreturn [{ json: { ...$json, final_reply } }];"
      }
    },
    {
      "id": "DryRunIf",
      "name": "IF dry-run 模式",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        860,
        360
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ [true, 'true', 1, '1'].includes($json.dry_run) }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "DryRunEnd",
      "name": "dry-run 结束",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        200
      ],
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: true,\n    send: false,\n    dry_run: true,\n    reason: 'dry_run',\n    cid: $json.cid,\n    send_user_id: $json.send_user_id,\n    send_message: $json.send_message,\n    risk: $json.risk,\n    risk_reason: $json.risk_reason,\n    rule_reply: $json.rule_reply,\n    reply: $json.reply,\n    sanitized_reply: $json.sanitized_reply,\n    final_reply: $json.final_reply,\n    openclaw_reply_source: $json.openclaw_reply_source,\n  },\n}];"
      }
    },
    {
      "id": "BridgeSend",
      "name": "goofish-bridge /send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        980,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "http://goofish-bridge:8787/send",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { \"cid\": $json.cid, \"toid\": $json.send_user_id, \"text\": $json.final_reply } }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "保留原始入站消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "去重": {
      "main": [
        [
          {
            "node": "IF 重复消息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 重复消息": {
      "main": [
        [
          {
            "node": "重复消息结束",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "会话冷却",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保留原始入站消息": {
      "main": [
        [
          {
            "node": "goofish-bridge /autoreply/status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "goofish-bridge /autoreply/status": {
      "main": [
        [
          {
            "node": "IF 自动客服已开启",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 自动客服已开启": {
      "main": [
        [
          {
            "node": "恢复原始入站消息",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "自动客服关闭结束",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "恢复原始入站消息": {
      "main": [
        [
          {
            "node": "去重",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "会话冷却": {
      "main": [
        [
          {
            "node": "IF 会话冷却中",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 会话冷却中": {
      "main": [
        [
          {
            "node": "会话冷却结束",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "风险分类",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "风险分类": {
      "main": [
        [
          {
            "node": "IF 高风险",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 高风险": {
      "main": [
        [
          {
            "node": "高风险转人工",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "低风险规则回复",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "低风险规则回复": {
      "main": [
        [
          {
            "node": "保留商品上下文请求原始 payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保留商品上下文请求原始 payload": {
      "main": [
        [
          {
            "node": "goofish-bridge /items/snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "goofish-bridge /items/snapshot": {
      "main": [
        [
          {
            "node": "合并商品上下文",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合并商品上下文": {
      "main": [
        [
          {
            "node": "保留 OpenClaw 请求上下文",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保留 OpenClaw 请求上下文": {
      "main": [
        [
          {
            "node": "OpenClaw HTTP 请求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenClaw HTTP 请求": {
      "main": [
        [
          {
            "node": "归一化 OpenClaw 回复",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "归一化 OpenClaw 回复": {
      "main": [
        [
          {
            "node": "sanitizeReply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sanitizeReply": {
      "main": [
        [
          {
            "node": "外联词扫描",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "外联词扫描": {
      "main": [
        [
          {
            "node": "IF dry-run 模式",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF dry-run 模式": {
      "main": [
        [
          {
            "node": "dry-run 结束",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "goofish-bridge /send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
